.auth-container{
    background: #f8f8f8;
    background-repeat: no-repeat;
    background-size: 379px;
    background-position: bottom left;
    min-height: 100vh;
}

.auth-logo-text{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #4F54E9;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
}

.auth-card{
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 100px;
}

.auth-card-header{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 27px;
    text-align: center;
    margin: 10px 0px;
}

.auth-logo-top{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #4F54E9;
    opacity: 0.7;
    text-align: center;
    margin-top: 105px;
    margin-bottom: 0px;
}

.invalid-feedback{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #4F54E9;
    font-size: 11px;
}

.auth-menu{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    display: block;
    margin-bottom: 24px;
}

.auth-menu a{
    color: #999999;
    margin: 0px 10px;
}