:root {
	--plyr-color-main: #465EFC;
	--plyr-audio-controls-background: transparent;
	--plyr-audio-control-color: #465EFC;
}

.chat-section{
    padding-bottom: 40px;
}

.chat-type-section{
	background: #ffffff;
	position: fixed;
	padding: 0px 5px;
	bottom: 0px;
	left: 0px;
	box-shadow: 0px -5px 15px rgba(0,0,0,0.08);
}

.chat-type{
	border: none;
    height: 50px;
    font-family: 'Nunito', sans-serif;
}

.chat-type-button{
	width: 40px;
	height: 40px;
	border: none;
	background: none;
	border-radius: 10000px;
	font-size: 18px;
	transition-duration: 0.3s;
	color: #464749a3;
}

.chat-sent-button{
	background: #465EFC;
	color: #ffffff;
}

.chat-head-incoming{
	padding: 10px;
	background: #ffffff;
	color: #464749a3;
	margin-bottom: 15px;
	border-radius: 5px;
	width: 70%;
}

.chat-head-incoming .chat-head-msg{
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	color: rgba(0,0,0,0.8);
	font-size: 14px;
}

.chat-head-incoming .chat-head-time{
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	text-align: right;
	font-size: 12px;
	color: rgba(0,0,0,0.3);
}

.chat-head-outgoing{
	padding: 10px;
	background: #4F54E930;
	color: #4F54E9;
	margin-bottom: 15px;
	margin-left: auto;
	border-radius: 5px;
	width: 70%;
}

.chat-head-outgoing .chat-head-msg{
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	color: #4F54E9;
	font-size: 14px;
}

.chat-head-outgoing .chat-head-time{
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	text-align: right;
	font-size: 12px;
	color: #4F54E990;
}

.chat-user-pic{
    width: 40px;
    border-radius: 100px;
}

.chat-approve{
    padding-bottom: 40px;
	text-align: center;
	min-height: 72vh;
	opacity: 0.6;
}

.chat-approve h3{
	font-family: 'Nunito', sans-serif;
	margin: 0px;
	font-size: 19px;
	font-weight: 600;
}

.chat-approve p{
	font-family: 'Nunito', sans-serif;
	margin: 0px;
	font-size: 15px;
	opacity: 0.7;
}

.chat-record-play-btn{
	width: 25px;
	position: relative;
	top: 8px;
	left: 8px;
}

.chat-record-audio-bars{
	width: 220px;
	height: 46px;
	background-size: auto 100%;
	opacity: 0.6;
}

#message{
	width: 100%;
}

.recoding-indicator{
	position: absolute;
	height: 47px;
	background: #ffffff;
	color: #465EFC;
	border: none;
	font-weight: 700;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	top: 2px;
	left: 60px;
}

.recoding-indicator-overlap {
	width: 48%;
    background: linear-gradient(271deg, #ffffff,rgba(255,255,255,0), #ffffff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}