.gallery-folder-card{
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-folder-card-inner{
    height: 200px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.9) 100%);
}

.gallery-folder-title{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.gallery-image-outer{
    padding: 2px;
}