/*---- BASIC ----*/
.body{
	background-color: #ffffff;
}

button{
	outline: none;
}

button:activer{
	outline: none;
}

.select-another-school-link{
	text-align: center;
	width: max-content;
	display: block;
	font-size: 12px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	color: #999;
	margin-top: 12px;
	margin-bottom: 3px;
	border-bottom: 1px solid #999;
	margin-left: auto;
	margin-right: auto;
	transition-duration: 0.3s;
}

.select-another-school-link:hover, .select-another-school-link:active{
	color: #4F54E9;
	text-decoration: none;
	border-bottom: 1px solid #4F54E9;
}

/*---- LIST ----*/
li{
	font-family: 'Nunito', sans-serif;
}

.list-btn{
	background: transparent;
	border: none;
	color: #4F54E9;
	font-size: 20px;
}

.list-chip{
	font-size: 10px;
	font-weight: 600;
	padding: 1px 5px 0px 5px;
	position: relative;
	top: -2px;
	background: #4F54E9;
	left: 4px;
}

.list-search-box{
	background: #4F54E930;
	border: none;
	padding: 10px;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	color: #4F54E9;
	font-weight: 600;
	border-radius: 6px;
}

.list-search-box:focus{
	outline: none;
}

/*---- NAV SUB ----*/
.nav_sub{
	background: #ffffff;
	padding: 7px 0px 5px 0px;
}

.nav_sub_icon_btn{
	height: 43px;
	border: none;
	border-radius: 1000px;
	background: none;
	color: #4F54E9;
	font-size: 22px;
}

.nav_sub_title{
	color: #4F54E9;
	font-family: 'Nunito', sans-serif;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
	font-size: 17px;
}

.nav_sub_icon_btn_chip{
	background: #4F54E930;
	color: #4F54E9;
	font-size: 13px;
	padding: 3px 3px 1px 3px;
	border-radius: 5px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	position: relative;
	top: -4px;
}

/*---- FILE CARD ----*/
.file-card{
	overflow: hidden;
    border-radius: 10px;
}

.file-card-title{
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 16px;
	margin: 0px;
}

.file-card-description{
	font-family: 'Nunito', sans-serif;
	opacity: 0.6;
	font-size: 13px;
	margin: 0px;
	margin-bottom: 6px;
}

.file-card-link{
	font-family: 'Nunito', sans-serif;
	color: #4F54E9;
	text-transform: uppercase;
	margin-right: 13px;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.039em;
}

.file-card-link i{
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #4F54E9;
}

.file-card-link:hover{
	text-decoration: none;
	color: #4F54E9;
}

.file-card-time{
    font-weight: 700;
    font-size: 0.7rem;
    font-family: 'Nunito', sans-serif;
    color: #4f54e9;
    background: #fff;
    margin: 0;
	margin-left: 10px;
	text-transform: uppercase;
    margin-top: -72px;
    padding: 12px 10px;
}

.file-card-time:hover{
	color: #4f54e9;
}

.file-card-time-title{
	margin-top: -32px;
}

.file-card-image{
	height: 172px;
	object-fit: cover;
}

.file-card-cover{
	width: 100%;
	height: 172px;
	object-fit: cover;
}

.file-card-youtube-image{
	width: 100%;
	height: 172px;
	object-fit: cover;
}

.file-card .chip{
	position: relative;
	top: -5px;
}

.file-card-link-icon{
	width: 80px;
	height: 100%;
	position: relative;
	background-size: 145px;
	top: 11px;
	left: 9px;
	margin-right: 5px;
	border-radius: 7px;
	border: none;
	background-color: #4f54e9;
	color: #fff;
	font-size: 36px;
}

.file-card-link-icon-text{
	width: 80px;
	height: 100%;
	position: relative;
	background-size: 145px;
	font-family: 'Nunito', sans-serif;
	top: 11px;
	left: 9px;
	margin-right: 5px;
	border-radius: 7px;
	border: none;
	background-color: #4f54e9;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}

.file-card-username{
	margin: 0;
	font-weight: 600;
	margin-bottom: 5px;
	font-family: 'Nunito', sans-serif;
	opacity: 0.7;
	font-size: 13px;
	text-transform: uppercase;
}

/*---- FORM ----*/
label{
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.3);
	background: #fff;
	text-transform: uppercase;
	z-index: 10;
	position: relative;
	padding: 0px 5px;
	margin-left: 14px;
}

.form-input{
	font-family: 'Nunito', sans-serif;
	padding: 11px;
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding-top: 16px;
	margin-top: -11px;
	font-size: 13.3333px;
	padding-bottom: 12px;
	color: rgba(0,0,0,0.9);
}

.form-select{
	font-family: 'Nunito', sans-serif;
	padding: 4px;
	border-radius: 4px;
	padding-left: 0px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	margin-top: -11px;
	color: rgba(0,0,0,0.9);
}

.form-select select{
	border: none;
	color: rgba(0,0,0,0.9);
	font-size: 13.3333px;
}

.form-upload{
	background: transparent;
	border: none;
	color: rgba(0,0,0,0.9);
}

/*---- BUTTON ----*/
.btn-primary{
	margin-top: 21px;
	padding: 14px;
	background: #4F54E930;
	letter-spacing: 0.029em;
	border: none;
	font-size: 13.3333px;
	border-radius: 6px;
	color: #4F54E9;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
}

.btn-primary i{
	-webkit-text-stroke-width: 0.5px;
	font-size: 13.3333px !important;
	-webkit-text-stroke-color: #4F54E9;
}

.btn-small{
	margin-top: 8px;
	padding: 9px;
	font-size: 12px;
}

.floating-btn-conatiner{
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 1000;
}

.floating-btn{
	padding: 14px 24px;
	background: #DEDFFB;
	letter-spacing: 0.029em;
	border: none;
	border-radius: 10000px;
	color: #4F54E9;
	margin-bottom: 20px;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
}

.floating-btn i{
	margin-right: 6px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #4F54E9;
}

/*---- ALERT ----*/
.alert{
	background: #4F54E930;
	border-radius: 5px;
	overflow: hidden;
    color: #4F54E9;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.alert p{
	padding-left: 23px;
}

.alert p i{
	font-size: 22px;
	position: absolute;
	left: 10px;
}

.small-btn-msg{
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	opacity: 0.8;
	margin-top: 10px;
}

/*---- EMPTY LIST ----*/
.empty-list{
	text-align: center;
	min-height: 72vh;
	opacity: 0.6;
}

.empty-list h3{
	font-family: 'Nunito', sans-serif;
	margin: 0px;
	font-size: 19px;
	font-weight: 600;
}

.empty-list p{
	font-family: 'Nunito', sans-serif;
	margin: 0px;
	font-size: 15px;
	opacity: 0.7;
}

.empty-list i{
	font-size: 35px;
}

/*---- PAGINATION ----*/
.pagination{
	margin-top: 36px;
	text-align: center;
}

.pagination li{
	display: inline-block;
	background: transparent;
	padding: 3px 10px;
	border-radius: 1000px;
	color: #22292f;
	font-weight: 600;
}

.pagination li a{
	color: #8795a1;
}

.pagination li a:hover{
	text-decoration: none;
}

.pagination li.active{
	color: #ffffff;
	background: #4F54E9;
}

.pagination li.disabled{
	opacity: 0.4;
}

.pagination li:first-child{
	color: transparent;
}

.pagination li:first-child a{
	color: transparent;
	position: relative;
	width: 50px;
	display: inline-block;
	z-index: 10;
	margin-right: -49px;
	right: 33px;
}

.pagination li:first-child::before{
	content: "";
	background: url('../images/return.svg');
	background-repeat: repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	opacity: 0.5;
	position: relative;
	top: 8px;
	left: 12px;
}

.pagination li:last-child{
	color: transparent;
}

.pagination li:last-child a{
	color: transparent;
	position: relative;
	width: 50px;
	display: inline-block;
	z-index: 10;
	margin-left: -51px;
	left: 38px;
}

.pagination li:last-child::after{
	content: "";
	background: url('../images/return.svg');
	background-repeat: repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	background-repeat: no-repeat;
	opacity: 0.5;
	position: relative;
	top: 8px;
	left: -10px;
	transform: rotate(180deg);
}

/*---- TOGGLE ----*/
.toggle-button{
	padding: 9px 15px;
	background: transparent;
	letter-spacing: 0.029em;
	border: none;
	font-size: 11px;
	border-radius: 6px;
	transition-duration: 0.3s;
	color: #4F54E9;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
}

.toggle-button.active{
	background: #4F54E930;
}

/*---- CHIP ----*/
.chip{
	background: #4F54E930;
	color: #4F54E9;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 0.8rem;
	border-radius: 18px;
}

/*---- RADIO ----*/
.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
	background-color: #4F54E9;
}

