.more-profile{
    background: #f8f8f8;
    color: #4F54E9;
    padding: 10px;
    height: 200px;
    background-size: 242px;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-left: 18px;
}

.more-profile h3{
    font-family: 'Nunito', sans-serif;
    color: #4F54E9;
    margin: 0px;
}

.more-profile p{
    font-family: 'Nunito', sans-serif;
    color: #999999;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
}

.more-card{
    border-radius: 10px;
    text-align: center;
}

.more-card p{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 600;
}

.more-card img{
    height: 39px;
}

.more-conatiner{
    box-shadow: 0px 15px 49px 5px rgba(0,0,0,0.2);
}