.notice-board-card{
    background-color: #4F54E930;
    border-radius: 10px;
    padding: 10px;
}

.notice-board-card a{
    color: #4F54E9;
    border-bottom: 2px solid #4F54E9;
}

.notice-board-card a:hover{
    text-decoration: none;
}

.notice-board-card p{
    color: #4F54E9;
    margin: 0px;
    line-height: 22px;
    font-family: 'Nunito', sans-serif;
}

.notice-board-card-time{
    margin: 0px;
    text-transform: uppercase;
    color: #4F54E950;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.notice-board-card-user-badge{
    width: max-content;
    background: #ffffff;
    color: #4F54E9;
    padding: 2px 13px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 1000px;
    margin-top: 12px;
}

.notice-board-card-label{
    background: #4F54E9;
    color: #fff;
    opacity: 0.9;
    font-size: 0.7rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    border-radius: 1000px;
}