.quiz-analyse-list-score{
    background: #4F54E930;
	border: none;
	font-size: 17px;
	border-radius: 60000px;
    color: #4F54E9;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    width: 38px;
    height: 38px;
    font-weight: 600;
}

.quiz-exam-questions{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-top: 0px;
}

.quiz-exam-questions button{
    background: #4F54E930;
    color: #4f54e9;
    font-weight: 700;
    border-radius: 1000px;
    font-size: 13px;
    margin-right: 7px;
    padding-top: 2px;
    border: none;
    width: 31px;
    height: 31px;
    font-family: 'Nunito', sans-serif;
}

.quiz-exam-option{
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 0px;
    margin-left: 28px;
}

.quiz-exam-option.correct{
    background-color: #00c85325;
}

.quiz-exam-option.correct label{
    color: #00c85399 !important;
}

.quiz-exam-option input{
    margin-left: 5px;
    transform: scale(1.4);
    margin-right: 4px;
}

.quiz-exam-option label{
    margin: 0px;
    background: transparent;
}

.quiz-drop-link{
    width: 100%;
    display: block;
    text-transform: uppercase;
    color: #4F54E9;
    font-weight: 700;
    font-size: 15px;
    margin: 3px 0px;
}

.quiz-drop-link:hover{
    text-decoration: none;
}

.quiz-drop{
    padding: 13px 12px;
    background-color: #ffffff;
    border-radius: 8px;
    width: 200px;
    margin-top: 69px;
}