.users-drop-link{
    width: 100%;
    display: block;
    text-transform: uppercase;
    color: #4F54E9;
    font-weight: 700;
    font-size: 15px;
    margin: 3px 0px;
}

.users-drop-link:hover{
    text-decoration: none;
}

.users-list-pic{
    width: 40px;
    border-radius: 100px;
}

.users-drop{
    padding: 13px 12px;
    background-color: #ffffff;
    border-radius: 8px;
    width: 200px;
    margin-top: 69px;
}

.users-list-pic{
    width: 40px;
    border-radius: 100px;
}